.add-car-container {
    padding-left: 20px;
  }
  
  .car-form .row {
    display: flex;
    /*justify-content: space-between;*/
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .car-form .col, .col-full {
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .car-form .col-full textarea {
    width: 100%;
    height: 100px;
    font-size: 1.2em;
  }
  
  .image-preview h3 {
    font-size: 1.5em;
  }  
 
  .add-car-preview {
    max-width: 300px;
  }

  .select-width {
    max-width: 150px; 
    padding-left: 5px;
  }
  .custom-input {
    max-width: 100px; 
    padding-left: 5px;
  }

 
.thumbnail-container {
  width: 50px;
  height: 70px; /* Increased to fit the caption */
  display: flex;
  flex-direction: column; /* Stack image and caption vertically */
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.thumbnail-container img {
  width: 50px;
  left: 25px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.image-caption {
  text-align: left;
  text-indent: 10px;
  font-size: 0.8em;
  font-weight: bold;
  color: #000; /* Make sure the color contrasts with the background */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
