.slick-slider {
    margin-bottom: 30px; /* Add space for dots */
  } 

  .slick-next, .slick-prev {
    background-color: gray;
    z-index: 2;
    right: 0px;
    border-radius: 50%; /* Make the button circular */
    width: 18px; /* Set a fixed width */
    height: 19px; /* Set a fixed height to match the width */
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    overflow: hidden; /* Ensures no part of the text is visible */
  }
  
  .slick-next:hover, .slick-prev:hover {
    color: rgb(60, 60, 60);
    background-color: #83ccee;
  }  

 .slick-col-container {
  max-width: 100vw;
  width: 100%;
 }