.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main container */
.main-container {
  max-width: 1200px; /* Set your desired max-width */
  margin: 0 auto; /* Centers the container */
  width: 100%;
  padding: 0 5px; /* Optional: Add some padding on the sides */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

/* Media Query for Larger Screens */
@media screen and (min-width: 1440px) {
  .main-container {
    max-width: 1400px; /* You can increase max-width for larger screens if desired */
  }
}

/* Additional Media Queries for Different Screen Sizes */
@media screen and (max-width: 1024px) {
  .main-container {
    padding: 0 0px; /* Optional: Add some padding on the sides */
  }
}

/* You can add more media queries for other specific screen sizes as needed */
