body {
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Arial Black', sans-serif;
  color: #000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  width: 100%;
  height: 116px;
  background: linear-gradient( #dc534b, #a50308);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

.chrome-bar {
  background-color: #A9A9A9;
  height: 2px;
  width: 100%;

}

.navbar {
  background: linear-gradient(to bottom, #222, #555);
  border-bottom: 3px solid #000;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  z-index: 2;
}
.nav-container a {
  color: black;
  text-decoration: none;
}

.logo {
  height:116px; 
  margin: auto;
  position: absolute;  
  top: 3px;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  z-index: 2;  
}

/* Standard Nav */
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-links-left, .nav-links-right {
  display: flex;
}
.nav-links-left {
  justify-content: flex-start;
}
.nav-links-right {
  justify-content: flex-end; 
}
.nav-links-left a {
  margin-right: 20px; 
}
.nav-links-left a:last-child {
  margin-right: 0; 
}
.nav-links-right a {
  margin-left: 20px; 
}
.nav-links-right a:first-child {
  margin-left: 0; 
}
.burger-menu {
  display: none;
  background-color: #e1e8f2;
}

/* Responsive - Small Devices */
@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
    /* Adjustments for burger menu icon */
  }
  .nav-links-left, .nav-links-right {
    top: 60px; /* adjust based on your header's height */
    left: 0;
    width: 100px; /* or specific width */
    background-color: #e1e8f2; 
    z-index: 10; /* ensure it's above other content */
    flex-direction: column;
    align-items: start;
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 60px; /* adjust based on your header's height */
    left: 0;
    width: 100px; /* or specific width */
    background-color: #e1e8f2; 
    z-index: 10; /* ensure it's above other content */
    flex-direction: column;
    align-items: start;
  }

  .nav-links.active, .nav-links.expanded {
      display: flex;
  }
}


.chrome-pipe {
  background-color: #e1e8f2;  /* Your chrome color */
  height: 20px;
  position: absolute;  
  top: 50%;  
  left: 0;  
  right: 0;  
  transform: translateY(-50%);  
  z-index: 1;  
  justify-content: space-between;
  align-items: center; 
}

.chrome-pipe2 {
  background-color: #191a1a;  /* Your chrome color */
  height: 8px;
  position: absolute;  
  top: 62%;  
  left: 0;  
  right: 0;  
  transform: translateY(-50%);  
  z-index: 1;  
  justify-content: space-between;
  align-items: center; 
}
.user-info {
  align-self: center;
  margin-left: auto;
}

footer {
  background: linear-gradient( #ae0507, #e55c54);
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 20px;
}
.footer a {
  margin-left: 40px;
  color: black;
  text-decoration: none;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.image-preview img {
  max-width: 320px; 
  height: auto; 
  object-fit: cover; /* crop if needed */
}

/* NO CHART*/
.no-cars-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
}
/* CHART */

.chart-container {
  position: relative;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #eee;
  border: 1px solid #A9A9A9;
  border-radius: 21px;
}

/* Responsive - Small Devices */
@media screen and (max-width: 768px) {

  .chart-container {
    padding-left: 20px;
  }
}
#chart {
  position: relative;
  width: 100%;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.point, .line, .foreign-object, .car-label, .foreign-object div {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  opacity: 0; /* Start with hidden points/lines */
}
.line {
  stroke-linecap: round; 
  /* other styles */
}
.point {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  background-size: cover;  /* This will make sure the background image covers the entire element */
  background-position: center;  /* Center the background image */
  z-index: 2;
  padding: 3px; /* Add padding to create space around the image */
   }

.point img {
  cursor: pointer;
  position: relative;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover; 
  outline: 2px solid #007bff; /* Blue outline */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); /* Drop shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */

}
/* Style for when the image is hovered */
.point img:hover {
  transform: scale(1.05); /* Slightly scale up the image */
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.7); /* Increase drop shadow */
}

.car-label {
  position: absolute;
  color: black; 
  line-height: 0.6;
  text-align: center;
  font-size: 12px;  
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60px;  
  height: 30px; 
  padding: 2px 0;
  padding-top: 10px;
  top: 50px;
  z-index: 2;
  cursor: pointer;
}

.make, .model {
  line-height: 0.6;
  display: block;
}

.grey-placeholder {
  background-color: grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.line-container line {
  stroke: black;
  stroke-width: 8;
  stroke-opacity: 0.3;
}

.axis {
  position: absolute;
  background-color: black;
}

#x-axis {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
}

#y-axis {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4px;
  height: 100%;
}

.axis-labels {
  font-size: 14px;
}

.y-label {
  left: -20px;
  position: absolute;
  line-height: 0.1;
  text-align: right;
  width: 15px;
}
.x-label {
  bottom: -20px;
  position: absolute;
  text-align: right;
  width: 50px;
}

/* MODAL */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  z-index: 10; /* Ensure it's above other content */
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
  position: relative;
  background-color: #fff;
  width: 80%;
  height: 80%;
  max-width: 80vw;
  max-height: 80vh;  
  overflow-y: auto;
}

.smaller_font {
  font-size: 8px;
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 34px;
  cursor: pointer;
}

.modal-content img {
  width: 100%;
  height: auto;
}

/* Media Query for Mobile View */
@media screen and (max-width: 768px) { /* Adjust 768px according to your design's breakpoint */
  .modal {
    position: fixed; /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    width: 100vw; /* Full screen width */
    height: 100vh; /* Full screen height */
    z-index: 1000; /* High z-index to ensure it's on top of other content */
    /* Additional styling for mobile view */
  }

  /* .modal-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 90%; 
    max-width: 350px;
    height: auto; Adjust as needed */
    /* Additional styling for mobile view (e.g., padding, background) 
  }*/
}

/* LANDING PAGE */

.landing-page-container {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.get-started-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* LOGIN PAGE */
.google-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px; 
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.placeholder {
  text-align: center;
  /* Add any other styling for the placeholder here */
}

/* LOGOUT PAGE */
.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  max-width: 300px;
  margin: 0 auto;
}

.logout-container h1, .logout-container p {
  margin-bottom: 1rem;
}

/* ADD CAR PAGE */

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Example to place an item */
.col {
  grid-column: 1 / 3; /* Spans from line 1 to line 3 */
}

/* FORMS */ 

.divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
  overflow: hidden; /* Ensures that content does not flow outside the element's box */
}

.divider::before {
  content: '';
  background: #ccc;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  z-index: 1; /* Ensure the line is behind the text */
}

.divider span {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  background: #fff; /* The background color of your container */
  z-index: 2; /* Ensure the text is above the line */
}
/* General input field styles */
.input-field {
  font-size: 16px; /* Adjust as needed */
  padding: 10px 15px; /* Adjust padding to match the example */
  margin-bottom: 10px; /* Space between the inputs */
  border: 1px solid #ddd; /* Subtle border color */
  border-radius: 4px; /* Rounded borders */
  width: calc(100% - 30px); /* Full width minus padding */
  max-width: 51vw;
  box-sizing: border-box; /* Include padding and border in the element's width */
  transition: border-color 0.2s; /* Smooth transition for border color */
}

/* Input field focus styles */
.input-field:focus {
  outline: none; /* Remove default focus outline */
  border-color: #a3a3a3; /* Darker border color on focus */
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1); /* Optional: add a glow effect on focus */
}

/* Placeholder text color */
.input-field::placeholder {
  color: #999; /* Placeholder text color */
}

/* Adjusting specific input types */
.input-field[type="password"] {
  letter-spacing: 0.3em;
}

/* Additional styles for select elements */
.select-field {
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  appearance: none; /* Remove default system appearance */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24" class="chevron-icon"><path d="M18 10.4141L16.586 9.00009L12 13.5861L7.414 9.00009L6 10.4141L11.293 15.7071C11.474 15.8881 11.724 16.0001 12 16.0001C12.276 16.0001 12.526 15.8881 12.707 15.7071L18 10.4141Z" fill="rgb(0, 152, 235)"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center; /* Align the icon on the right */
  background-size: 24px; /* Size of the icon */
  padding-right: 32px; /* Make room for the icon */
  cursor: pointer; /* Change cursor to pointer to indicate this is a dropdown */
  transition: background-color 0.25s ease-in-out; /* Transition effect for background color */
}

/* Styles to apply on select field focus and hover */
.select-field:focus,
.select-field:hover {
  border-color: #a3a3a3; /* Darker border color on focus/hover */  
  background-color: #e6f4ff; /* Light blue background on focus/hover */
}

/* To ensure the select elements have a pointer cursor */
.select-field:-ms-expand {
  display: none; /* For IE11 to remove default arrow */
}

/* Add the chevron using a pseudo-element */
.select-field::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24"><path d="M18 10.4141L16.586 9.00009L12 13.5861L7.414 9.00009L6 10.4141L11.293 15.7071C11.474 15.8881 11.724 16.0001 12 16.0001C12.276 16.0001 12.526 15.8881 12.707 15.7071L18 10.4141Z" fill="rgb(235, 152, 235)"></path></svg>');
  filter: brightness(0) saturate(100%) invert(38%) sepia(77%) saturate(1351%) hue-rotate(204deg) brightness(92%) contrast(89%);
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Ignore mouse events */
  transition: all 0.25s ease-in-out; /* Transition effect for the chevron */
}

/* Change chevron color on select field hover */
.select-field:hover::after {
  filter: brightness(0) saturate(100%) invert(14%) sepia(26%) saturate(4484%) hue-rotate(211deg) brightness(89%) contrast(89%);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24"><path d="M18 10.4141L16.586 9.00009L12 13.5861L7.414 9.00009L6 10.4141L11.293 15.7071C11.474 15.8881 11.724 16.0001 12 16.0001C12.276 16.0001 12.526 15.8881 12.707 15.7071L18 10.4141Z" fill="rgb(235, 152, 235)"></path></svg>'); /* New chevron color on hover */
}

.textarea {
  width: 80%; 
  min-height: 40px; /* Enough height for two lines, adjust as needed */
  padding: 10px; /* Padding inside the textarea */
  border: 1px solid #ccc; /* Border color */
  border-radius: 8px; /* Rounded corners */
  resize: vertical; /* Allow only vertical resizing */
  font-size: 16px; /* Font size */
  line-height: 1.5; /* Line height for text */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  outline: none; /* Remove outline */
  transition: border-color 0.3s; /* Smooth transition for border color */
}

.textarea:focus {
  border-color: #007bff; /* Change border color on focus */
}

/* Styles for the login button, if you want to style it as well */
.button {
  display: block;
  padding: 10px 15px;
  background-color: #0a58ca; /* Example: blue background */
  color: white; /* White text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 0 auto; /* Center the button horizontally */
}

.button:hover {
  background-color: #09448a; /* Darker blue on hover */
}