body {
  width: 100%;
  font-family: 'Arial Black', sans-serif;
  color: #000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  width: 100%;
  height: 116px;
  background: linear-gradient( #dc534b, #a50308);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

.chrome-bar {
  background-color: #A9A9A9;
  height: 2px;
  width: 100%;

}

.navbar {
  background: linear-gradient(to bottom, #222, #555);
  border-bottom: 3px solid #000;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  z-index: 2;
}
.nav-container a {
  color: black;
  text-decoration: none;
}

.logo {
  height:116px; 
  margin: auto;
  position: absolute;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  z-index: 2;  
}

/* Standard Nav */
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-links-left, .nav-links-right {
  display: flex;
}
.nav-links-left {
  justify-content: flex-start;
}
.nav-links-right {
  justify-content: flex-end; 
}
.nav-links-left a {
  margin-right: 20px; 
}
.nav-links-left a:last-child {
  margin-right: 0; 
}
.nav-links-right a {
  margin-left: 20px; 
}
.nav-links-right a:first-child {
  margin-left: 0; 
}
.burger-menu {
  display: none;
  background-color: #e1e8f2;
}

/* Responsive - Small Devices */
@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
    /* Adjustments for burger menu icon */
  }
  .nav-links-left, .nav-links-right {
    top: 60px; /* adjust based on your header's height */
    left: 0;
    width: 100px; /* or specific width */
    background-color: #e1e8f2; 
    z-index: 10; /* ensure it's above other content */
    flex-direction: column;
    align-items: start;
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 60px; /* adjust based on your header's height */
    left: 0;
    width: 100px; /* or specific width */
    background-color: #e1e8f2; 
    z-index: 10; /* ensure it's above other content */
    flex-direction: column;
    align-items: start;
  }

  .nav-links.active, .nav-links.expanded {
      display: flex;
  }
}


.chrome-pipe {
  background-color: #e1e8f2;  /* Your chrome color */
  height: 20px;
  position: absolute;  
  top: 50%;  
  left: 0;  
  right: 0;  
  transform: translateY(-50%);  
  z-index: 1;  
  justify-content: space-between;
  align-items: center; 
}

.chrome-pipe2 {
  background-color: #191a1a;  /* Your chrome color */
  height: 8px;
  position: absolute;  
  top: 62%;  
  left: 0;  
  right: 0;  
  transform: translateY(-50%);  
  z-index: 1;  
  justify-content: space-between;
  align-items: center; 
}
.user-info {
  align-self: center;
  margin-left: auto;
}

footer {
  background: linear-gradient( #ae0507, #e55c54);
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
}
.footer a {
  margin-left: 40px;
  color: black;
  text-decoration: none;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.image-preview img {
  max-width: 320px; 
  height: auto; 
  object-fit: cover; /* crop if needed */
}

/* NO CHART*/
.no-cars-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
}
/* CHART */

.chart-container {
  position: relative;
  width: 804px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #eee;
  border: 1px solid #A9A9A9;
  border-radius: 21px;
}

.download-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1; 
}

#chart {
  position: relative;
  width: 800px;
  height: 400px;
}

.point {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: transparent;
  border-radius: 50%;
  background-size: cover;  /* This will make sure the background image covers the entire element */
  background-position: center;  /* Center the background image */
}

.point img {
  width: 50px;
  left: 25px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.car-label {
  position: absolute;
  line-height: 0.6;
  text-align: center;
  font-size: 12px;  
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60px;  
  height: 30px; 
  padding: 2px 0;
  padding-top: 10px;
}

.make, .model {
  line-height: 0.6;
  display: block;
}

.grey-placeholder {
  background-color: grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.line-container line {
  stroke: black;
  stroke-width: 10;
  stroke-opacity: 0.3;
}

.axis {
  position: absolute;
  background-color: black;
}

#x-axis {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
}

#y-axis {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4px;
  height: 100%;
}

.axis-labels {
  font-size: 14px;
}

.y-label {
  left: -20px;
  position: absolute;
  line-height: 0.1;
  text-align: right;
  width: 15px;
}
.x-label {
  bottom: -20px;
  position: absolute;
  text-align: right;
  width: 50px;
}

/* MODAL */

/* Media Query for Mobile View */
@media screen and (max-width: 768px) { /* Adjust 768px according to your design's breakpoint */
  .modal {
    position: fixed; /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    width: 100%; /* Full screen width */
    height: 100%; /* Full screen height */
    z-index: 1000; /* High z-index to ensure it's on top of other content */
    /* Additional styling for mobile view */
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 90%; 
    max-width: 350px;
    height: auto; /* Adjust as needed */
    /* Additional styling for mobile view (e.g., padding, background) */
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding-left: 20px;
  width: 80%;
  max-width: 350px;
  max-height: 390px;  
  overflow-y: auto;
}

.smaller_font {
  font-size: 8px;
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 28px;
  cursor: pointer;
}

.modal-content img {
  width: 100%;
  height: auto;
}


/* LANDING PAGE */

.landing-page-container {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.get-started-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* LOGIN PAGE */
.google-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px; 
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.placeholder {
  text-align: center;
  /* Add any other styling for the placeholder here */
}

/* LOGOUT PAGE */
.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  max-width: 300px;
  margin: 0 auto;
}

.logout-container h1, .logout-container p {
  margin-bottom: 1rem;
}

/* ADD CAR PAGE */

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Example to place an item */
.col {
  grid-column: 1 / 3; /* Spans from line 1 to line 3 */
}

